{% extends 'default/layout.html.twig' %}

{% block title %}Ajouter  une idée{% endblock %}

{% block main %}
    <div>
        <h3>Ajout d'une idée :</h3>
    {{ form_start(ideaForm) }}
        {{ form_widget(ideaForm) }}
        <input type="submit" value="Enregistrer">
    {{ form_end(ideaForm)}}
    </div>
{% endblock %}