{% extends 'default/layout.html.twig' %}
{% block title %}About us{% endblock %}
{% block main %}
    <div>
        <h2>About Us</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Aliquam delectus earum ex illum incidunt magnam
            optio pariatur praesentium, sapiente sunt ullam unde.
            Cum laudantium modi, mollitia nisi numquam veritatis.
            Repellendus.
        </p>
    </div>
{% endblock %}